*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6 ;
    color: black;
    padding: 30px;
    background-repeat: repeat;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,.7)), url('../imgs/full-bg.jpg');

}
.header{
    height : 80vh;
    background-image: url('../imgs/slider1.jpg ' );
    background-size: cover; 
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100% );
    position : relative;
}
.logo-box{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;

}
.logo:hover{
    animation: appear;
    animation-duration: 1s;
}

@keyframes appear{
    0%{
        opacity: 0;
        /* transform: translateZ(100px); */

    }
    20%{
        opacity: 0.3;
        /* transform: translateY(80px); */
    }
    50%{
        opacity: 0.5;
        /* transform: translateY(50px); */
    }
    80%{
        opacity: 0.8;
        /* transform : translateY(20px);  */
    }
    100%{
        opacity: 1;
        /* transform: translateY(0) */
    }
}
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px;
    display: inline-block;
    border-radius: 2000px;
    text-align: center;
    /* transform: translate(-50%, -50%) */
    transition: all 0.2s;

}

.btn-green{
    background-color:rgb(56, 158, 56);
    position: relative;
    top: 70%;
    left:45%;
    /* transform: translate(-50%, -50%); */
    animation-name: appear;
    animation-duration: .5s;
    backface-visibility: hidden;
}
.btn-green:hover{
    /* transform: translate(-50%, -50%); */
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3)
}
.btn-green:active{
    /* transform: translate(-50%, -50%); */
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3)
}